
.grid-cotainer
{
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    grid-template-areas: 
    "d1 d1 d2 d3"
    "d1 d1 d4 d3"
    "d5 d6 d6 d3"
    "d7 d8 d9 d3";
}
.grid_item
{
    background-color: rgb(38, 236, 154);
    margin: 10px;
}
body
{
    background-color: rgb(250, 250, 226);
}
.d1
{
    grid-area: d1;
}
.d2
{
    grid-area: d2;
}
.d3
{
    grid-area: d3;

}
.d4
{
    grid-area: d4;
}
.d5
{
    grid-area: d5;
}
.d6
{
    grid-area: d6;
}
.d7
{
    grid-area: d7;
}
.d8
{
    grid-area: d8;
}
.d9
{
    grid-area: d9;
}

